<div class="server-card-container">
  <mat-card>
    <mat-card-title>Servers</mat-card-title>
    <mat-card-content>
      <app-datetime-filter
        class="filter-menu"
        [showSpinner]="isLoading"
        [disableSubmitButton]="isLoading"
        (submitted)="filterUpdated($event)"
      >
      </app-datetime-filter>

      <table
        mat-table
        [dataSource]="serversDataSource"
        class="mat-elevation-z4 demo-table"
        matSort
      >
        <ng-container matColumnDef="index">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
          <td mat-cell *matCellDef="let element">{{ element.index }}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let element">
            <a routerLink="/server-playtime/{{element.server_id}}">{{ element.name }}</a>
          </td>
        </ng-container>

        <ng-container matColumnDef="average_playtime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Average playtime(Hours)
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.average_playtime | number: "1.0-1" }} hours
          </td>
        </ng-container>

        <ng-container matColumnDef="unique_players">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Unique Players
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.unique_players }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator
        [pageSizeOptions]="[10, 25, 100]"
        [pageSize]="25"
        [showFirstLastButtons]="true"
      ></mat-paginator>
    </mat-card-content>
  </mat-card>
</div>
